# Copy this file to infra.env and fill values for the EC2-infra node.
# infra.env is ignored by Git and uploaded as GitHub secret INFRA_ENV_FILE.

SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=

RABBITMQ_STOMP_PORT=61613
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_STOMP_LOGIN=store_ws
RABBITMQ_STOMP_PASSCODE=
