<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quochuy.store.mapper.CartItemMapper">

    <!--
      Sử dụng tính năng ON CONFLICT của PostgreSQL (Upsert).
      - Nếu chưa có cặp (cart_id, product_id): Thực hiện INSERT.
      - Nếu đã có: Thực hiện UPDATE cộng dồn số lượng.
    -->
    <insert id="upsertCartItem">
        INSERT INTO public.cart_items (cart_id, product_id, amount, updated_at)
        VALUES (#{cartId},
                #{productId},
                #{amount},
                CURRENT_TIMESTAMP) ON CONFLICT (cart_id, product_id)
        DO
        UPDATE SET
            amount = cart_items.amount + EXCLUDED.amount,
            updated_at = CURRENT_TIMESTAMP
    </insert>

    <update id="updateCartItem">
        UPDATE cart_items ci
        SET amount     = #{amount},
            updated_at = CURRENT_TIMESTAMP
        FROM carts c
        WHERE ci.cart_id = c.cart_id
          AND ci.cart_item_id = #{cartItemId}
          AND c.user_id = #{userId}
        <if test="updatedAt != null">
          AND ci.updated_at = #{updatedAt}
        </if>
    </update>

    <select id="countCartItemByUser" resultType="int">
        SELECT COUNT(1)
        FROM cart_items ci
                 JOIN carts c ON ci.cart_id = c.cart_id
        WHERE ci.cart_item_id = #{cartItemId}
          AND c.user_id = #{userId}
    </select>

    <delete id="removeItemCard">
        DELETE FROM cart_items ci
        USING carts c
        WHERE ci.cart_id = c.cart_id
          AND ci.cart_item_id = #{cartItemId}
          AND c.user_id = #{userId}
    </delete>

</mapper>
