<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quochuy.store.mapper.FavoritesMapper">
    <!--    <resultMap id="UserResultMap" type="com.quochuy.store.model.User">-->
    <!--        <id property="userId" column="user_id"/>-->
    <!--        <result property="userName" column="username"/>-->
    <!--        <result property="password" column="password"/>-->
    <!--        <result property="email" column="email"/>-->
    <!--        <result property="fullName" column="full_name"/>-->
    <!--        <result property="avatarUrl" column="avatar_url"/>-->
    <!--        &lt;!&ndash; Map danh sách roles &ndash;&gt;-->
    <!--        <collection property="roles" ofType="string">-->
    <!--            <result column="role_name"/>-->
    <!--        </collection>-->
    <!--    </resultMap>-->

    <!--    <select id="findAll" resultType="com.quochuy.store.model.User"><![CDATA[-->
    <!--        SELECT *-->
    <!--        FROM users-->
    <!--        ]]></select>-->

    <select id="fetchFavoriteId">
        SELECT f.favorite_id
        FROM favorites f
        WHERE f.user_id = #{userId}
          AND f.product_id = #{productId}
    </select>

    <select id="fetchUserFavorites">
        SELECT p.product_id  AS productId,
               f.favorite_id AS favoriteId
        FROM favorites f
                 LEFT JOIN products p ON f.product_id = p.product_id AND
                                         f.user_id = p.user_id
        WHERE f.user_id = #{userId}
    </select>

    <insert id="create">
        INSERT INTO favorites (favorite_id,
                               created_at,
                               updated_at,
                               user_id,
                               product_id)
        VALUES (#{favoriteId},
                #{createdAt},
                #{updatedAt},
                #{userId},
                #{productId})
    </insert>

    <delete id="delete">
        DELETE FROM favorites
        WHERE favorite_id = #{favoriteId}
          AND user_id = #{userId}
    </delete>

</mapper>
